<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Iotop About </title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='CSS/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{{ url_for('static', filename='CSS/fontawesome.min.css') }}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='CSS/clean-blog.min.css') }}" rel="stylesheet">

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='IMG/favicon.ico') }}"/>

  </head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand" href="{{ url_for('index') }}">
        <a class="navbar-brand"><img src="/static/IMG/favicon.ico" style="width:20px;height:20px;" href="{{ url_for('index') }}">Iotop</a>
      </a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('index') }}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('about') }}">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link typeform-share link"
            href="https://form.typeform.com/to/IzKvb5RE?typeform-medium=embed-snippet"
            data-mode="popup"
            data-size="70"
            data-hide-footer="true" target="_blank">Newsletter</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('login') }}">Login</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('static/IMG/iotop-about_blog_background.jpg');">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Us</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Who are we, and what do we do? We are Iotop (=iotop) a team of 3 and we are currently working on a solution to a problem related to plants. The problem with plants is that most people don't know how to take care of them.
          There are already solutions available, but they have a big problem: UX. They connect via Bluetooth to sensors which adds a barrier between users and their plants.</p>
        <p>We want to solve this problem by connecting the sensor to the wifi so it sends data all the time and the user can retrieve it with a mobile app all the time, even when not at home, so that they can take care of their plants.</p>
        <p>This is just a rough overview of the project but stay tuned for more information and check out our blog. Also, you can subscribe to our newsletter to don't miss out on any blog post we make. Have fun reading and if you have any questions, don't hesitate to write us an e-mail. 🌱</p>
      </div>
    </div>
  </div>

  <hr>

  <!-- Footer -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <p class="copyright text-muted">Copyright &copy; Iotop Blog 2021</p>
        </div>
      </div>
    </div>
  </footer>

  <!-- Typeform -->
  <script>
    (function() {
      var qs,
        js,
        q,
        s,
        d = document,
        gi = d.getElementById,
        ce = d.createElement,
        gt = d.getElementsByTagName,
        id = "typef_orm_share",
        b = "https://embed.typeform.com/";
      if (!gi.call(d, id)) {
        js = ce.call(d, "script");
        js.id = id;
        js.src = b + "embed.js";
        q = gt.call(d, "script")[0];
        q.parentNode.insertBefore(js, q);
      }
    })();
  </script>

  <!-- Bootstrap Framework core JavaScript -->
  <script src="{{ url_for('static', filename='JS/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='JS/bootstrap.bundle.min.js') }}"></script>
  
  <!-- Custom scripts -->
  <script src="{{ url_for('static', filename='JS/clean-blog.min.js') }}"></script>

</body>

</html>
