<!DOCTYPE html>
<html lang="en">
<head>
	<title>Iotop Login</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{{ url_for('static', filename='IMG/favicon.ico') }}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='static/CSS/login_CSS/login_bootstrap.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/login_CSS/font-awesome.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/login_CSS/icon-font.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/login_CSS/animate.css') }}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/login_CSS/hamburgers.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/login_CSS/animsition.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/login_CSS/select2.min.css') }}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/login_CSS/daterangepicker.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/login_CSS/main.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/login_CSS/util.css') }}">
<!--===============================================================================================-->
 <!-- Bootstrap core CSS -->
 <link href="{{ url_for('static', filename='CSS/bootstrap.min.css') }}" rel="stylesheet">

 <!-- Custom fonts for this template -->
 <link href="{{ url_for('static', filename='CSS/fontawesome.min.css') }}" rel="stylesheet" type="text/css">
 <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
 <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

 <!-- Custom styles for this template -->
 <link href="{{ url_for('static', filename='CSS/clean-blog.min.css') }}" rel="stylesheet">

 <!-- Favicon -->
 <link rel="icon" type="image/png" href="{{ url_for('static', filename='IMG/favicon.ico') }}"/>

</head>
<body>
	
	<!-- Navigation -->
	<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
		<div class="container">
		  <a class="navbar-brand" href="{{ url_for('index') }}">
			<a class="navbar-brand"><img src="/static/IMG/favicon.ico" style="width:20px;height:20px;" href="{{ url_for('index') }}">Iotop</a>
		  </a>
		  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
			Menu
			<i class="fas fa-bars"></i>
		  </button>
		  <div class="collapse navbar-collapse" id="navbarResponsive">
			<ul class="navbar-nav ml-auto">
			  <li class="nav-item">
				<a class="nav-link" href="{{ url_for('index') }}">Home</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="{{ url_for('about') }}">About</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link typeform-share link"
				href="https://form.typeform.com/to/IzKvb5RE?typeform-medium=embed-snippet"
				data-mode="popup"
				data-size="70"
				data-hide-footer="true" target="_blank">Newsletter</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="{{ url_for('login') }}">Login</a>
			  </li>
			</ul>
		  </div>
		</div>
	  </nav>

	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-50">
				<form class="login100-form validate-form" method='POST'>
					<span class="login100-form-title p-b-33">
						Account Login
					</span>

					<div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
						<input class="input100" 
                        type="text" 
                        name="username" 
                        placeholder="Username"
                        required/>

						<span class="focus-input100-1"></span>
						<span class="focus-input100-2"></span>
					</div>

					<div class="wrap-input100 rs1 validate-input" data-validate="Password is required">
						<input class="input100" 
                        type="password" 
                        name="password" 
                        placeholder="Password"
                        required/>

						<span class="focus-input100-1"></span>
						<span class="focus-input100-2"></span>
					</div>
                    {% if failed %}
                    <center>
                        <small style='color: red'>Incorrect Username or Password</small>
                    </center>
                    {% endif %}
					<div class="container-login100-form-btn m-t-20">
						<button type="submit" class="login100-form-btn">
							Sign in
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	

	
<!--===============================================================================================-->
	<script src="{{ url_for('static', filename='JS/jquery-3.2.1.min.js') }}"></script>
<!--===============================================================================================-->
	<script src="{{ url_for('static', filename='JS/animsition.min.js') }}"></script>
<!--===============================================================================================-->
	<script src="{{ url_for('static', filename='JS/popper.js') }}"></script>
	<script src="{{ url_for('static', filename='JS/bootstrap.min.js') }}"></script>
<!--===============================================================================================-->
	<script src="{{ url_for('static', filename='JS/select2.min.js') }}"></script>
<!--===============================================================================================-->
	<script src="{{ url_for('static', filename='JS/moment.min.js') }}"></script>
	<script src="{{ url_for('static', filename='JS/daterangepicker.js') }}"></script>
<!--===============================================================================================-->
	<script src="{{ url_for('static', filename='JS/countdowntime.js') }}"></script>
<!--===============================================================================================-->
	<script src="{{ url_for('static', filename='JS/main.js') }}"></script>

</body>
</html>